<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <title>Authentication Server</title>
</head>
<body>
  <div class="container">
    <div th:if="${param.error}" class="alert alert-danger">
      Invalid username and password.
    </div>
    <form th:action="@{/}" method="post">
      <div class="form-group">
        <label for="username" class="bmd-label-floating">Username</label>
        <input type="text" class="form-control" id="username" name="username">
        <span class="bmd-help">Inserisci il tuo nome utente</span>
      </div>
      <div class="form-group">
        <label for="password" class="bmd-label-floating">Password</label>
        <input id="password" name="password" type="password" class="form-control">
      </div>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <button type="submit" class="btn btn-primary btn-raised">Entra</button>
    </form>
    <div>
      <p>Oppure: </p>
      <a href="/auth/login/google" class="btn btn-accent btn-raised">Entra con Google</a>
    </div>
  </div>
</body>
</html>